body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a06e2;
    color: white;
    padding: 50px 0;
    position: relative;
  }
  
  header .logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  
  nav {
    margin-top: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #070d0e;
    font-weight: bold;
  }
  
  section {
    margin-top: 20px;
  }
  
  #filmes ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
  }
  
  #filmes ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  #filmes ul li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  #detalhes-filme {
    margin-top: 20px;
  }
  
  canvas {
    max-width: 1200px;  
    max-height: 600px;  
    width: 100%;       
    height: auto;   
    margin: 0 auto;
  }

  #detalhes-filme canvas {
    max-width: 400px; 
    max-height: 200px; 
    width: 100%;      
    height: auto;     
  }
  

  .logo {
    font-size: 54px; 
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .logo img {
    width: 148px; 
    height: auto; 
  }
  
